@media (max-width:991) {
    section {
        width: 100vh;
    }
}

@media (max-width:600) {
    section {
        width: 100%;
    }
}

@media (max-width:600px) {
    section {
        width: 100vh;
    }

    .about .about-us {
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 1rem;
    }

    .about .about-us img {
        width: 100vw;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }
}